<div class="container-fluid">
    <div
      class="parallax d-flex flex-column align-items-center justify-content-center"
    >
      <span class="inside-caption">Predmeti</span>
    </div>
    <div class="vetList">
      <div class="vetProfile" *ngFor="let subject of subjects">
        <div class="left">
          <div class="name">Naziv predmeta: {{ subject?.name }}</div>
        </div>
        <div class="right">
          <button
            type="button"
            class="btn btn-primary w-75"
            (click)="goToSubjectProfile(subject.id)"
          >
            Izmeni
          </button>
        </div>
      </div>
    </div>
  </div>
  